{% extends "layout.html" %}
{% block title %}Formulaires et Affichages{% endblock %}
{% block page_title %}Formulaires et Affichages{% endblock %}

{% block styles %}
{% include "mongoDB/styles.html" %}
{% include "postgres/styles.html" %}
{% include "redis/styles.html" %}
{% include "elasticsearch/styles.html" %}
{% endblock %}


{% block content %}
<div class="container">
    <!-- MongoDB Card -->
    {% include "mongoDB/card.html" %}

    <!-- Postgres Card -->
    {% include "postgres/card.html" %}

    <!-- Redis Card -->
    {% include "redis/card.html" %}

    <!-- Elasticsearch Card --> 
    {% include "elasticsearch/card.html" %}

    <!-- Neo4j Card -->
    {% include "neo4j/card.html" %}
</div>
{% endblock %}

{% block javascript %}
{% include "mongoDB/javascript.html" %}
{% include "postgres/javascript.html" %}
{% include "redis/javascript.html" %}
{% include "elasticsearch/javascript.html" %}
{% endblock %}
