{% extends "layout.html" %}
{% block title %}Formulaires et Affichages{% endblock %}
{% block page_title %}Formulaires et Affichages{% endblock %}

{% block styles %}
{% include "redis/styles.html" %}
{% include "elasticsearch/styles.html" %}
{% endblock %}


{% block content %}
<div class="container">
    <!-- Redis Card -->
    {% include "redis/card.html" %}

    <!-- Elasticsearch Card --> 
    {% include "elasticsearch/card.html" %}

</div>
{% endblock %}

{% block javascript %}
{% include "redis/javascript.html" %}
{% include "elasticsearch/javascript.html" %}
{% endblock %}
