{% extends "layout.html" %}
{% block title %}Editer le Redis{% endblock %}
{% block page_title %}Editer le Redis{% endblock %}

{% block content %}
    <div class="card p-3 rounded shadow border-0" style="width: 25rem;">
        <h1 class="text-center mb-4 text-success">Edit Item</h1>

        <form method="post" action="{{ url_for('edit_redis', item_id=field) }}">
            <!-- Add fields based on your data model -->
            <div class="form-group">
                <label for="field">{{ field }}:</label>
                <input type="text" id="field" name="field" class="form-control" value="{{ item }}" required>
            </div>

            <input type="hidden" name="_method" value="PUT">
            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </form>

        <form method="POST" action="{{ url_for('delete_redis', item_id=field) }}" onsubmit="return confirm('Are you sure you want to delete?');">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" name="delete_redis" class="btn btn-danger btn-block mt-3">Delete Item</button>
        </form>
    </div>
{% endblock %}
