# Ignore unnecessary files and directories in Docker build
.git
.gitignore
.vscode
*.pyc
__pycache__
*.pyo
*.pyd
*.db
.env.example
.dockerignore
docker-compose.yml
docker-compose.override.yml
.docker
.dockerignore
.dockerignore.override
