<div class="modal fade" id="submitElasticsearchModal" tabindex="-1" role="dialog" aria-labelledby="submitElasticsearchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="submitElasticsearchModalLabel">Submit to Elasticsearch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('submit_elasticsearch') }}" method="POST">
                    <div class="form-group">
                        <label for="field1_es">Field 1:</label>
                        <input type="text" id="field1_es" name="field1" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="field2_es">Field 2:</label>
                        <textarea id="field2_es" name="field2" class="form-control" required></textarea>
                    </div>
                    <button type="submit" name="submit_es" class="btn btn-warning btn-block">Submit to Elasticsearch</button>
                </form>
            </div>
        </div>
    </div>
</div>